page-profile-view {

}
.centercmps{
    display: flex;
    justify-content: center;
}
.userDetTab{
    width: 100%;
    margin-left: 1%;
}
.datatd{
    padding-top: 5%;
    padding-bottom: 5%;
}
tr:nth-child(even) {background-color: #f2f2f2;}