page-journey{
    .btn{
        width:75%;
        margin-left: auto;
        margin-right: auto;
    }
    .combo{
        width: 73%;
        margin-left: auto;
        margin-right: auto;
        background-color: lightseagreen;
    }
    .elements{
        padding: 5px;
    }
    .line{
        display: inline;
        
    }
    .amount{
        background-color: lightblue;
        width: 40%; 
    }
    #amount1{
        background-color: lightblue;
        width: 40%;
    }
}