page-ResetPwd{
    .form-group{

    padding-top: 5px;
    font-weight: bold; 
    background-color:forestgreen;
    // background-color: #FAFAFA;

    }

    // .cde{
    //     padding-top: 5px;
    //     font-weight: bold; 
    //     background-color:lightblue;
       
    // }

}