page-SignIn {
   
.abc{
    padding-top: 5px;
    font-weight: bold; 
    background-color:lightblue;
    // background-color: #FBFBFB;
}

.img{
    height: 30%;
    width: 30%;
    margin-left: 30%;
}
    
}