page-SignUp {
    .cde{
        padding-top: 5px;
        font-weight: bold; 
        background-color:lightblue;
       
    }

    .form{
        padding-top: 5px;
        font-weight: bold; 
        background-color:lightblue;
        color: blue;
    }
}