<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Tickets.lk - Journey</ion-title>
  </ion-navbar>
</ion-header>

<ion-content style="background-color:mintcream">

    <img src="../../assets/imgs/maps.jpg"/>
    <!-- <ion-item>
        <ion-input type="text" [(ngModel)]="qrData"></ion-input>
    </ion-item> -->
    <!-- <button ion-button full ion-left (click)="createCode()"><ion-icon name="barcode"></ion-icon>Create Code</button> -->

    <!-- Logged in user -->
    <div>
        <ion-label class="user"><b>Viraj Gunathilaka</b></ion-label>
        <ion-label class="user">Colombo, Sri Lanka</ion-label>
    </div>

    <!-- To start a tour. This will open a qr scanner-->
    <div class="elements">
        <button ion-button full ion-left (click)="getBusRoutes()" class="btn" style="border-radius: 5px;">Start Journey</button>
    </div>

    <!-- Show next bus stops -->
    <div>
        <ion-label class="stops">Your Next Bus stops are : <br/>
            <ion-list *ngFor="let route of routes">
                <ion-label id="amount1">{{route.haults[0].busHault}}</ion-label>
            </ion-list>
        </ion-label>
    </div>

    <!-- To open the map-->
      <div class="elements">
          <button ion-button full ion-left class="btn" (click)="mapPage()" style="border-radius: 5px;">Map</button>
      </div>

      <!-- Ticket count. One user can only select upto 5 tickets-->
      <div>
        <ion-label style="margin-left: 15%;">Ticket count
            <select class="tktCount" style="margin-left: 10px;width:40px;border-radius: 5px;" [(ngModel)]="quantity"  (change)=ticketCount(quantity) >
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        <!-- There are two kinds of buses. User can select one of these -->    
        </ion-label>
        <ion-label style="margin-left: 15%;">Bus Type
            <select class="tktCount" style="margin-left: 10px;width:60%;border-radius: 5px;" (change)=getBus(bus) [(ngModel)]="bus" >
                <option value="normalFare">Normal Travelling Bus</option>
                <option value="longFare">Long Travelling Bus</option>
            </select>
        </ion-label>
      </div> 

      <!-- End tour. This will open the qr scanner.-->
      <div class="elements">
          <button ion-button full ion-left (click)="getTotal()" class="btn" style="border-radius: 5px;">End Journey</button>
      </div>

      <!-- Display the total amount-->
        <div>
            <ion-label class="stops">Total Amount is : 
                <ion-label>Calculating</ion-label>
                <ion-list *ngIf="total">
                    <ion-label id="amount1">{{total}}</ion-label>
                </ion-list>
            </ion-label>
            
        </div>
        <div>
            
            <!-- PAyment-->
            <div class="elements">
                <button ion-button full ion-left class="btn" (click)="postData()" style="border-radius: 5px;font-size: 12px;">Payment</button>
            </div>
        </div>
 
</ion-content>